<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('index_css') }}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('nav') }}
        {{ encore_entry_link_tags('content') }}
        {{ encore_entry_link_tags('menu') }}
        {{ encore_entry_link_tags('header') }}
        {{ encore_entry_link_tags('widget') }}

    {% endblock %}

    {% block topScripts %}
        <script>
            const locale = '{{ _locale }}';
        </script>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('index') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="root"></div>
{% endblock %}
</body>
</html>
